<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <title>Loan Response Form</title>
</head>


<body>
    <div align="center">
        <br/>
        <br/>
        <p th:text="'You have booed a loan :' + ${loanId}"></p>
        <br/>
        <br/>

    <form action="#" th:action="@{/loan}" th:object="${loanForm}" method="post">
            <table>
                <tr>
                    <td>First Name:</td>
                    <td><input type="text" th:field="*{firstName}" /></td>
                </tr>
                <tr>
                    <td>Last Name:</td>
                    <td><input type="text" th:field="*{lastName}" /></td>
                </tr>
                <tr>
                    <td>Amount:</td>
                    <td><input type="text" th:field="*{amount}" /></td>
                </tr>
                <tr>
                    <td>Currency:</td>
                    <td><input type="text" th:field="*{currency}" /></td>
                </tr>
                <tr>
                    <td>Term (mm/dd/yyyy):</td>
                    <td><input type="text" th:field="*{term}"/></td>
                </tr>
            </table>
        </form>


    </div>
</body>
</html>